*~
*.o
*.ppu
*.compiled
*.log
*.res
*.dll
*.app
*.lps
*.dbg
castle-image-viewer
castle-image-viewer.exe
castle-engine-output
macosx/utils/output_document_types
.DS_Store

# delphi
*.dproj.local
*.identcache
*.rsm
*.delphilsp.json
*.deployproj
