*~
*.o
*.ppu
*.compiled
*.log
*.res
*.dll
*.app
castle-view-image
castle-view-image.exe
castle-engine-output
macosx/utils/output_document_types
.DS_Store

# delphi
*.dproj.local
*.identcache
*.rsm
*.delphilsp.json
