[Desktop Entry]
Encoding=UTF-8
Name=glViewImage
GenericName=Image Viewer
Exec=glViewImage %u
Icon=glViewImage
Type=Application
Categories=Graphics;2DGraphics;Viewer;
Comment=Image viewer for many image formats, including DDS and RGBE
MimeType=image/png;image/bmp;image/x-portable-pixmap;image/jpeg;image/gif;image/x-targa;image/x-xpixmap;image/photoshop;image/pcx;image/x-portable-anymap;image/x-dds;image/vnd.radiance;image/x-ipl;image/tiff;image/sgi;image/jp2;image/x-exr;
